@import "tailwindcss";

button {
  cursor: pointer;
}

/* Hide scrollbar in WebKit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}
